 @import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Quattrocento:wght@400;700&display=swap');

:root{
    --primary-color: #A78BFA;
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: "Quattrocento";
}

h1, h2{
    text-align: center;
}

 .navbar{
    background-color: #C4B5FD;
    width: 100%;
    height: 15vh; 
    margin: 0;
}

.nav_list{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
} 


.nav_list_items{
    padding: 1rem;
    float: left;
}

.nav_links{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.img_heading{
    width: 100%;
}

.heading{
    font-family: "Merienda";
    font-size: 20px;
}

.hero_container{
    width: 100%;
    position: relative;
}

.hero_image{
    display: block;
    margin: auto;
    width: 100%;
}

.main_container{
    background-color: #8B5CF6;
    padding: 20px;
}

.container_heading{
    font-family: "Playfair Display SC";
    font-size: 30px;
}

.main_container_para{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-family: "Quattrocento";
}

.skills_container{
    width: 100%;
    text-align: center;
}

.skills_container_list{
    list-style-type: none;
}

.skills_container_list li{
    display: inline-block;
    align-items: center;
}

.skills_images{
    width: 100px;
    height: 100px;
}

.project_container{
    width: 100%;
    text-align: center;
}

.project_container_list{
    text-align: center;
}

.project_list{
    text-align: center;
    font-weight: bolder;
}

.project_link{
    text-decoration: none;
    background-color: #6D28D9;
    color: white;
    border-radius: 10px;
    display: block; 
} 

.project_link:hover{
    background-color: azure;
    color: black;
}

.blog_section{
    display: block;
    text-align: center;
}

.blog_container{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 70%;
    display: block;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}

.blog_container_heading{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display SC";
    font-weight: bold;
}

.blog_heading{
    font-family: "Playfair Display SC";
    font-weight: bold;
    font-size: 20px;
}

.blog_link_container{
    display: block;
    margin: auto;
    text-align: center;
}

.blog_link{
    margin: auto;
    font-weight: bold;
    text-align: center;
    height: 33px;
}

.go_back{
    margin-top: 20px;
    margin-bottom: 20px;
}

.go_back_link{
    display: block;
    margin: auto;
    width: 10%;
    text-align: center;
    text-decoration: none;
    background-color: #6D28D9;
    color: white;
    height: 7vh;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}


.footer_container{
    width: 100%;
    background-color: #8B5CF6;
}

.footer_heading{
    font-family: "Merienda";
    padding: 10px;
}

.footer_list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer_img{
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 360px) {
    .project_link{
        display: inline-block;
        width: 35vw;
        height: 33px;
        padding: 8px;
    } 

    .project_container_list{
        padding: 0 20px;
    }

    .heading{
        padding-top: 50px;
    }

    .blog_container{
        width: 100%;
        height: 30vh;
    }

    .go_back_link{
        width: 30%;
    }

    .footer_list{
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 768px) {

    .navbar{
        padding: 20px;
        margin: 10px;
    }

    .nav_list{
        justify-content: flex-end;
    }

     .img_heading{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .hero_image{
        width: 500x;
        height: 500px;
        padding: 20px;
    }

    .heading{
        font-size: 20px;
        margin: 20px 0 0 30px;
        padding-top: 100px;
    }

    .project_link{
        display: block;
        margin: auto;
        height: 6vh;
        padding: 6px;
        width: 20%;
        margin-bottom: 15px;
    }

    .go_back_link{
        width: 20%;
    }

    .blog_container{
        width: 70%;
        height: 25vh;
    }

    .footer_container{
        margin-top: 15px;
        padding: 10px;
    }
} 

@media screen and (min-width: 1020px) {
    .img_heading{
        display: flex;
        justify-content: space-evenly;
    }

    .heading{
        margin-left: 50px;
        margin-top: 50px;
        padding-top: 40px; 
    }

    .project_link{
        display: block;
        margin: auto;
        width: 15%;
        height: 6vh;
        padding-top: 10px;
        margin-bottom: 15px;
    }

}

@media screen and (min-width: 1400px) {
    .nav_links{
        font-size: 27px;
    }

    .hero_container{
        width: 1000px
    }

    .heading{
        padding-top: 110px;
    }

    .hero_image{
        padding: 20px 50px 20px 100px;
    }

    .container_heading{
        font-size: 45px;
    }

    .main_container_para{
        font-size: 28px;
    }

    .project_container_list{
        padding: 0 100px;
    }

    .project_list{
        font-size: 25px;
        text-align: center; 
    }

    .project_link{
        font-weight: bolder;
        font-size: 25px;
    }

    .footer_heading{
        font-size: 30px;
    }
}